<div class="row">
  <div class="col-md-12 col-xs-12">
    <%= link_to("New Period", new_habit_list_habit_period_path(@habit_list), class: "btn btn-success pull-right") %>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>时期</th>
      <th>天数</th>
      <th>方法</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @habit_periods.each do |habit_period| %>
      <tr>
        <td><%= habit_period.period_type_id %></td>
        <td>
          <div class="period_types">
            <% c = habit_period.period_type.id %>
            <% if c == 1 %>
              <%= link_to habit_period.period_type.name, "", class: "btn btn-danger" %>
            <% elsif c == 2 %>
              <%= link_to habit_period.period_type.name, "", class: "btn btn-warning" %>
            <% elsif c == 3 %>
              <%= link_to habit_period.period_type.name, "", class: "btn btn-info" %>
            <% else %>
              <%= link_to habit_period.period_type.name, "", class: "btn btn-success" %>
            <% end %>
          </div>
        </td>
        <td><%= habit_period.period_time %></td>
        <td><%= habit_period.period_method %></td>
        <td>
          <%= link_to("编辑", edit_habit_list_habit_period_path(@habit_list, habit_period), class: "btn btn-primary btn-xs") %>
          <%= link_to("删除", edit_habit_list_habit_period_path(@habit_list, habit_period), method: :delete, class: "btn btn-danger btn-xs") %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
<table>
  <tbody>
    <tr>
      <td>合计天数</td>
      <td>|</td>
      <td>
        <%= render_habit_period_total_day(@habit_period) %>
      </td>
    </tr>
  </tbody>
</table>
