<div class="habit_list_title">
  <h2>习惯周期列表</h2>
</div>
<% if @habit_list.habit_periods.count < 4 %>
<div class="row">
  <% if current_user == @habit_list.user %>
    <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1 fa">
      <%= link_to("新增 养成时期", new_habit_list_habit_period_path(@habit_list), class: "btn btn3d btn-info pull-right fa-plus") %>
    </div>
  <% end %>
</div>
<% end %>
<br>
<div class="col-md-12 col-xs-12">
  <table class="table text-center">
    <thead>
      <tr>
        <th class="col-md-4 col-xs-4 fa fa-clock-o text-center">  时期</th>
        <th class="col-md-3 col-xs-3 fa fa-calendar text-center">  天数</th>
        <th class="col-md-3 col-xs-3 fa fa-calender text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      <% @habit_list.habit_periods.each do |habit_period| %>
        <tr>
          <td>
            <div class="period_types" style="width: 100%">
              <% c = habit_period.period_type.id %>
              <% if c == 1 %>
                <%= link_to habit_period.period_type.name, habit_list_habit_period_path(@habit_list, habit_period), class: "btn btn3d btn-danger", style:"width: 100%" %>
              <% elsif c == 2 %>
                <%= link_to habit_period.period_type.name, habit_list_habit_period_path(@habit_list, habit_period), class: "btn btn3d btn-warning", style:"width: 100%" %>
              <% elsif c == 3 %>
                <%= link_to habit_period.period_type.name, habit_list_habit_period_path(@habit_list, habit_period), class: "btn btn3d btn-info", style:"width: 100%" %>
              <% else %>
                <%= link_to habit_period.period_type.name, habit_list_habit_period_path(@habit_list, habit_period), class: "btn btn3d btn-primary", style:"width: 100%" %>
              <% end %>
            </div>
          </td>
          <td><%= habit_period.period_time %> days</td>
          <td>
            <% if current_user == @habit_list.user %>
              <%= link_to("编辑", edit_habit_list_habit_period_path(@habit_list, habit_period), class: "btn btn3d btn-primary") %>
              <%= link_to("删除", habit_list_habit_period_path(@habit_list, habit_period), method: :delete, class: "btn btn3d btn-danger", data: { confirm: "你确定吗？" }) %>
            <% else %>
              只有创建者才能进行操作
            <% end %>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>
  <hr>

      <div class="col-md-12 col-xs-12 text-center habit_list_sub_title">
        <tr>
          <strong>
          <td>合计天数</td>
          <td> --- </td>
          <td>
            <%= render_habit_period_total_day(@habit_list, @habit_period) %>
          </td>
          </strong>
        </tr>
      </div>
      <div class="col-md-12 col-xs-12 pull-right">
        <%= link_to "返回上级", @habit_list, class: "btn btn3d btn-some pull-right" %>
      </div>
</div>
