<hr>
<%= simple_form_for(habit_list) do |f| %>
  <div class="title">
    <%= f.input :title %>
  </div>

  <div class="description">
    <%= f.input :description %>
  </div>

  <div class="habit_type">
    <%= f.select :habit_type do %>
      <option value="Behavior Habit">Behavior Habit</option>
      <option value="Body Habit">Body Habit</option>
      <option value="Thinking Habit">Thinking Habit</option>
    <% end %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary"%>
  </div>
<% end %>
<hr>
