<%= form_for(habit_list) do |f| %>
  <% if habit_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(habit_list.errors.count, "error") %> prohibited this habit_list from being saved:</h2>

      <ul>
      <% habit_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :habit_type %>
    <%= f.text_field :habit_type %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
