<%= content_for :handwrite_javascript do %>
  <script>
    $("#habit_period_period_type_id").select2();
  </script>
<% end %>

<div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
  <%= simple_form_for(habit_list) do |f| %>
    <div class="group">
      <%= f.input :title, label: "习惯名称" %>
    </div>
    <div class="group">
      <%= f.association :category, label: "习惯类型" %>
    </div>
    <div class="group">
      <%= f.input :description, label: "你想要实现什么？" %>
    </div>

    <br>
    <div class="actions">
      <%= f.submit "完成", data: { disable_with: "上传中……" }, class: "btn btn3d btn-primary"%>
    </div>
  <% end %>
</div>
