    <% @habit_lists.each do |habit_list| %>
      <div class="row col-md-12 col-xs-12">
        <h2 class="habit_list_title text-center">
          <%= link_to habit_list.title, habit_list_path(habit_list) %>
        </h2>
      </div>
      <div class="row habit_list_sub_title">
        <div class="col-md-12 col-xs-12 text-center">
          <p class="habit_list_sub_title"><%= habit_list.description %></p>
        </div>
        <div class="col-md-12 col-xs-12 text-center">
          <div class="habit_list_category">
            <% c = habit_list.category_id %>
            <% if c == 1 %>
              <label class="label label-lg label-success"><%= habit_list.category.name %></label>
            <% elsif c == 2 %>
              <label class="label label-lg label-info"><%= habit_list.category.name %></label>
            <% else %>
              <label class="label label-lg label-danger"><%= habit_list.category.name %></label>
            <% end %>
          </div>
        </div>
      </div>
      <hr>
    <% end %>
  <br>
    <div class="row">
      <div class="last-button text-center" style="width: 100%;">
        <%= link_to '养成一个新习惯', new_habit_list_path, class: "btn btn-info", style: "width: 80%;" %>
      </div>
    </div>
