<p id="notice"><%= notice %></p>

<div class="container col-xs-12">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <h2>Goal: <%= @habit_list.title %></h2>
      <h5><%= @habit_list.description %></h5>
      <p class="pull-right"><%= @habit_list.created_at.to_s(:long) %></p>
    </div>

    <br>
    <div class="row col-md-12 col-xs-12">

      <div class="habit_list_category">
        <% c = @habit_list.category_id %>
        <% if c == 1 %>
          <label class="label label-lg label-success"><%= @habit_list.category.name %></label>
        <% elsif c == 2 %>
          <label class="label label-lg label-info"><%= @habit_list.category.name %></label>
        <% else %>
          <label class="label label-lg label-danger"><%= @habit_list.category.name %></label>
        <% end %>
      </div>

      <div class="btn-group pull-right fa">
        <%= link_to '', edit_habit_list_path(@habit_list), class: "fa-pencil-square-o btn btn-lg btn-info" %>
        <%= link_to '', habit_lists_path, class: "btn btn-default btn-lg fa-home" %>
      </div>
    </div>
  </div>
<hr>

    <%= render "habit_periods/habit_period" %>

<hr>

    <%= render "record_days/record_day" %>
