<div class="container col-xs-12">
  <div class="row">
    <div class="col-md-12 col-xs-12 text-center">
      <div class="habit_list_title">
        <h2><%= @habit_list.title %></h2>
      </div>

      <div class="col-md-5 col-xs-5">
        <h5><%= simple_format(@habit_list.description) %></h5>
      </div>

      <div class="col-md-2 col-xs-2 habit_list_category text-center">
        <% c = @habit_list.category_id %>
        <% if c == 1 %>
          <label type="label" class="btn btn-success ribbon"><%= @habit_list.category.name %></label>
        <% elsif c == 2 %>
          <label type="label" class="btn btn-info ribbon"><%= @habit_list.category.name %></label>
        <% else %>
          <label type="label" class="btn btn-danger ribbon"><%= @habit_list.category.name %></label>
        <% end %>
      </div>

      <div class="col-md-5 col-xs-5">
        <p class="habit_list_sub_title">创建于 | <%= @habit_list.created_at.to_s(:long) %> |</p>
        <p class="habit_list_sub_title">习成者：<%= @habit_list.user.email %></p>
      </div>

    </div>

    <br>
  </div>
  <br><br>
    <%= render "habit_periods/habit_period" %>
    <%= render "record_days/record_day" %>

    <div class="col-md-12 col-xs-12 fa">
      <br>
      <% if current_user == @habit_list.user %>
        <%= link_to '编辑该习惯养成', edit_habit_list_path(@habit_list), class: "fa-pencil-square-o btn btn3d btn-info" %>

        <%= link_to '删除该习惯养成', habit_list_path, class: "btn btn3d btn-default fa-home", method: :delete, data: { confirm: "你确认删除“#{@habit_list.title}”吗?" } %>
      <% end %>
      <%= link_to "回到首页", habit_lists_path, class: "btn btn3d btn-default pull-right" %>
    </div>
