<!DOCTYPE html>
<html>
  <head>
    <title>Habit Developer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render "common/navbar" %>
    </div>
    <div class="container">
      <div class="flash">
        <%= render "common/flashes" %>
      </div>
      <%= yield %>
    </div>

    <div class="container">
      <%= render "common/footer" %>
    </div>
  </body>
</html>
